@charset "utf-8";
/* CSS Document */
*{
    padding: 0; margin: 0;
}
body{
	background-image:url(file:///C|/Users/ACER/Documents/Unnamed%20Site%202/hd.jpg);
}
h2{
	color:#4A2602;
	text-align: center;
	font-family: arial;
	text-transform: uppercase;
	border: 3px solid #1A1919;
	padding: 20px;
	width: 460px;
	margin: auto;
	margin-bottom: 10px;
    margin-top: 20px;
}
form {
    border: 3px solid #020202;
    font-family: Times New Roman;
    width: 500px;
    margin: auto;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #030303;
    box-sizing: border-box;
}
input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #030303;
    box-sizing: border-box;
}
label{
	color:#030303;
	text-transform: uppercase;
}
button {
    background-color:#562B05;
    color: white;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 5px 8px;
    background-color: #396DE7;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;

}
span{
	color:#50626C;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 50%;
    }
}
